.sideIcon{
    width: 90%;
    height: 40%;
    font-size: 100px;
    text-align: center;
}

.saveresident{
    width: 100%;
    height: 50px;
}

.fa{
    font-size: 10px;
}

.welcome {
	color: white;
    margin-bottom: 25px;
}

.welcome .content {
	background-color: #435d7d;
    margin-top: -20px;
}

.welcome p {
	color: white;
  font-weight: 500;
}

section{
	margin-left: 260px;
}

#lName, #fName, #mName, #alias, #bMonth, #bDay, #bYear, #pob, #gender{
    pointer-events: none;
}